{% extends "base.html" %}
{% block title %}Update List - BrainTwo{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Update List</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form>
        </div>
    </main>
{% endblock content %}
