{% extends "base.html" %}
{% block title %}My Lists - BrainTwo{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href="{% url 'todo_list_create' %}">Create New List</a>
            </p>
            <p>
                <a href="{% url 'todo_item_create' %}">Create New Item</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_list in todo_lists %}
                        <tr>
                            <td>
                            <a href="{% url 'todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a>
                            </td>
                            <td>{{ todo_list.number_of_items }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
